@model IEnumerable<ColoShopEcommerce.WebApp.Models.EF.OrderDetail>
@using ColoShopEcommerce.WebApp.Models.Common
@if (Model != null && Model.Any())
{
    int i = 1;
    <div>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Product.Title</td>
                        <td>@item.Quantity</td>
                        <td>@Common.FormatCurrency(@item.Price, 0)</td>
                        <td>@Common.FormatCurrency((item.Price * item.Quantity))</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>

}
